.qualifications{
    color:black;
}
.quali-text{
    font-size: 12px;
}
.icon-plus{
    color: green;
    font-size: 30px;
    
}
.text-plus{
    position: relative;
    left:0;

}
.container-main{
    height: 6vh;
}